<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>

<th:block th:replace="~{fragments :: header}"></th:block>
<th:block th:replace="~{fragments :: backButton}"></th:block>

<body>
    <div class="container">
        <a th:href="@{/movies/create}" class="btn btn-outline-primary w-100 mb-2">Aggiungi Film</a>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Year</th>
                <th>Duration</th>
                <th>Director</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <th:block th:each="movie : ${movies}" th:object="${movie}">
                    <tr>
                        <td><a th:href="@{/movies/{id}(id=${movie.id})}"
                                class="text-body link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-body-emphasis">[[*{title}]]</a>
                        </td>
                        <td>[[*{publicationYear}]]</td>
                        <td>[[*{duration}]]</td>
                        <td><a th:href="@{/directors/{id}(id=${movie.director.id})}"
                                class="text-body link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-body-emphasis">[[*{director}]]</a>
                        </td>
                        <td>
                            <a th:href="@{/movies/{id}/edit(id=${movie.id})}" class="btn btn-sm btn-primary"
                                title="Modifica">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-danger" title="Elimina">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>

</html>