<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>

<th:block th:replace="~{fragments :: header}"></th:block>

<body th:object="${director}">
    <div class="container">
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <th:block th:replace="~{fragments :: backButton}"></th:block>
            <h3 class="text-center">[[${director}]]</h3>
            <div>
                <a th:href="@{/directors/{id}/edit(id=${director.id})}" class="btn btn-primary"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    th:data-bs-target="'#modal'+${director.id}" title="Elimina">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6"><img th:src="@{'/uploads/' + ${movie.coverImage}}" alt="Copertina" class="img-fluid" />
            </div>
            <div class="col-6">
                <p><b>Surname:</b> [[*{surname}]]</p>
                <p>Name: [[*{name}]]</p>
                <p>Date of birth: [[*{dateOfBirth}]]</p>
                <p>Description: [[*{career}]]</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" th:id="'modal'+${director.id}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Elimino regista [[${director}]]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Sei sicuro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <form th:action="@{/directors/{id}/delete(id=${director.id})}" method="post">
                        <button type="submit" class="btn btn-danger">
                            Elimina
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{fragments :: scripts}"></th:block>
</body>

</html>