<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <th:block th:fragment="header">
        <header class="mb-3 p-2">
            <div class="container d-flex justify-content-between align-items-center">
                <a th:href="@{/}"><i class="fa-solid fa-house fa-2x"></i></a>
                <div>
                    <span class="border rounded p-2"><i class="fa-solid fa-user"></i> user</span>
                    <span class="border rounded p-2"><i class="fa-solid fa-crown"></i>role</span>
                </div>
            </div>
        </header>
    </th:block>

    <th:block th:fragment="styles">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}">
        <link th:rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </th:block>

    <th:block th:fragment="backButton">
        <a href="javascript:history.back()" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left me-2"></i> Indietro
        </a>
    </th:block>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}"></script>
    </th:block>
</body>

</html>