<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>

<body>
    <div class="container">
        <div class="d-flex rounded border border-secondary p-2 mb-2">
            <a th:href="@{/movies}">Vai all'elenco dei film</a>
        </div>
        <div class="d-flex rounded border border-secondary p-2 mb-2">
            <a th:href="@{/directors}">Vai all'elenco di registi</a>
        </div>
        <div class="d-flex rounded border border-secondary p-2 mb-2">
            <a href="#">Vai all'elenco delle categorie</a>
        </div>
    </div>
</body>

</html>