<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>

<th:block th:replace="~{fragments :: header}"></th:block>

<body>
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-4">
                <a th:href="@{/movies}" class="text-decoration-none text-body">
                    <div class="border border-secondary rounded p-4">
                        <i class="fa-solid fa-film fa-8x mb-2"></i>
                        <div>Vai all'elenco dei film</div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a th:href="@{/directors}" class="text-decoration-none text-body">
                    <div class="border border-secondary rounded p-4">
                        <i class="fa-solid fa-clapperboard fa-8x mb-2"></i>
                        <div>Vai all'elenco di registi</div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a th:href="@{/categories}" class="text-decoration-none text-body">
                    <div class="border border-secondary rounded p-4">
                        <i class="fa-solid fa-tags fa-8x mb-2"></i>
                        <div>Vai all'elenco delle categorie</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>